/* custom css file */
/* initial bootstrap override styles */
*
    outline: none

.table>tbody>tr>td
    vertical-align: middle

/* main.css styles */
h1, h2, h3, h4, h5, h6
    font-weight: bold

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center

.row-header
    display: flex

.row-header h1
    margin: 25px 0

.group-selector
    @include flex-center
    strong
        margin-right: 10px

.block-notice
    margin-top: 10px

.date-picker
    margin-top: 25px
    margin-bottom: 15px

.table-journals
    border: 1px solid lightgray
    thead
        tr
            td
                text-align: center
                vertical-align: bottom
    td:not(:last-child)
        border-right: 1px solid lightgray

.checkbox-students
    position: relative
    input
        position: absolute
        left: -99999px

    .checkbox-students__unit:before
        content: ''
        width: 15px
        height: 15px
        border: 1px solid midnightblue
        position: absolute
        top: 2px
        left: 0
        color: white
        transition: all .5s

    input:checked + .checkbox-students__unit:before
        content: '\f00c'
        font-family: FontAwesome
        font-size: 14px
        color: white
        background-color: royalblue
        display: flex
        align-items: center
        justify-content: center

label[for='student-foto'] + div
    padding-top: 7px

    .checkbox
        padding-bottom: 7px

.form-group__foto-load
    display: flex
    flex-wrap: nowrap
    align-items: center
    input
        margin-left: 15px

.form-group--controls
    text-align: center
    padding: 20px
    background: lightgray

.form-group--flex-vc
    display: flex
    align-items: center
    .control-label
        padding-top: 0

.select-group
    padding: 7px
    background: transparent
    width: 100%
    height: 34px

.student-edit__btns button
    margin-right: 20px