{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" value="Сервис учета студентов учебного заведения">

    <title>Сервис учета студентов - {% block meta_title %}{% endblock meta_title %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">

    {% block extra_css %} {% endblock extra_css %}

</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- Header content -->
        <div id="header" class="row row-header">

            {% block logo %}
            <div class="col-xs-8">
                <h1>Срвис учета студентов</h1>
            </div>
            {% endblock logo %}

            {% block groups_select %}
            <div id="group-selector" class="col-xs-4 group-selector">
                <strong>Група:</strong>
                <select title="group_menu">
                    <option value="">Усі Студенти</option>
                    {% for group in groups_list %}
                        <option value="">{{ group.name }}, {{ group.leader.last_name }} {{ group.leader.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endblock groups_select %}

        </div>
        <div id="sub-header" class="row">
            <div class="col-xs-12">
                {% url 'home' as main %}
			    {% url 'journals' as journal_main %}
                {% url 'groups' as groups_main %}

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {% if request.path == main %} class="active" {% endif %}><a href="/">Студенти</a></li>
                    <li role="presentation" {% if request.path == journal_main %} class="active" {% endif %}><a href="{{ journal_main }}">Відвідування</a></li>
                    <li role="presentation" {% if request.path == groups_main %} class="active" {% endif %}><a href="{{ groups_main }}">Групи</a></li>
                </ul>

            </div>
        </div><!--/ end Header content-->

        <!-- Main page content -->
        <div id="content-columns" class="row">
            <div id="content-column" class="col-xs-12">

                {% comment 'Not used Alert' %}
                <div class="alert alert-warning block-notice">Изменения отменены</div>
                {% endcomment %}

                <h2>{% block title %}{% endblock title %}</h2>

                {% block content %}{% endblock content %}

            </div>
        </div><!--/ end Main page content -->

        {% block footer %}
        <!-- Footer content -->
        <div id="footer" class="row">
            <div class="col-xs-12">
                &copy; 2014 - 2017 Сервис Учета Студентов
            </div>
        </div><!--/ end Footer content -->
        {% endblock footer %}

    </div><!--/ end container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock extra_js %}

</body>
</html>