{% extends 'students/base.html' %}
{% load static from staticfiles %}

{% block meta_title %} Группы {% endblock meta_title %}

{% block title %} Группы {% endblock title %}

{% block content %}
<a href="{% url 'groups_add' %}" class="btn btn-primary">Добавить группу</a>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><a href="#">№</a></th>
                <th><a href="#">Название &uarr;</a></th>
                <th><a href="#">Староста</a></th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a title="редактировать" href="{% url 'groups_edit' group.id %}">{{ group.name }}</a></td>
                    <td><a title="редактировать" href="{% url 'students_edit' group.leader.id %}">{{ group.leader.last_name }} {{ group.leader.first_name }}</a></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Действия
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}">Редактировать</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}">Удалить</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "./includes/pagination.html" %}

</div>


{% endblock content %}
