{% extends 'students/base.html' %}
{% load static from staticfiles %}

{% block meta_title %} Журнал песещений {% endblock meta_title %}

{% block title %} Журнал посещений студентов {% endblock title %}

{% block content %}
<div class="date-picker text-center">
    <a href="#">&larr;</a>
    <span>Жовтень 2016</span>
    <a href="#">&rarr;</a>
</div>

    <table class="table table-hover table-striped table-journals">
        <thead>
            <tr>
                <td>#</td>
                <td>Студент</td>
                <td><div>Ср</div>1</td>
                <td><div>Чт</div>2</td>
                <td><div>Пт</div>3</td>
                <td><div>Сб</div>4</td>
                <td><div>Вс</div>5</td>
                <td><div>Пн</div>6</td>
                <td><div>Вт</div>7</td>
                <td><div>Ср</div>8</td>
                <td><div>Чт</div>9</td>
                <td><div>Пт</div>10</td>
                <td><div>Сб</div>11</td>
                <td><div>Вс</div>12</td>
                <td><div>Пн</div>13</td>
                <td><div>Вт</div>14</td>
                <td><div>Ср</div>15</td>
                <td><div>Чт</div>16</td>
                <td><div>Пт</div>17</td>
                <td><div>Сб</div>18</td>
                <td><div>Вс</div>19</td>
                <td><div>Пн</div>20</td>
                <td><div>Вт</div>21</td>
                <td><div>Ср</div>22</td>
                <td><div>Чт</div>23</td>
                <td><div>Пт</div>24</td>
                <td><div>Сб</div>25</td>
                <td><div>Вс</div>26</td>
                <td><div>Пн</div>27</td>
                <td><div>Вт</div>28</td>
                <td><div>Ср</div>29</td>
                <td><div>Чт</div>30</td>
                <td><div>Пт</div>31</td>
            </tr>
        </thead>
        <tbody>
            {% for student in journal %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="#">{{ student.first_name }} {{ student.last_name }}</a></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}1" ><label for="{{ student.id }}1" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}2" ><label for="{{ student.id }}2" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}3" ><label for="{{ student.id }}3" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}4" ><label for="{{ student.id }}4" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}5" ><label for="{{ student.id }}5" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}6" ><label for="{{ student.id }}6" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}7" ><label for="{{ student.id }}7" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}8" ><label for="{{ student.id }}8" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}9" ><label for="{{ student.id }}9" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}10"><label for="{{ student.id }}10" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}11"><label for="{{ student.id }}11" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}12"><label for="{{ student.id }}12" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}13"><label for="{{ student.id }}13" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}14"><label for="{{ student.id }}14" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}15"><label for="{{ student.id }}15" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}16"><label for="{{ student.id }}16" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}17"><label for="{{ student.id }}17" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}18"><label for="{{ student.id }}18" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}19"><label for="{{ student.id }}19" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}20"><label for="{{ student.id }}20" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}21"><label for="{{ student.id }}21" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}22"><label for="{{ student.id }}22" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}23"><label for="{{ student.id }}23" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}24"><label for="{{ student.id }}24" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}25"><label for="{{ student.id }}25" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}26"><label for="{{ student.id }}26" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}27"><label for="{{ student.id }}27" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}28"><label for="{{ student.id }}28" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}29"><label for="{{ student.id }}29" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}30"><label for="{{ student.id }}30" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="{{ student.id }}31"><label for="{{ student.id }}31" class="checkbox-students__unit"></label></div></td>
            </tr>
            {% endfor %}
            {% comment 'temp' %}
            <tr>
                <td>2</td>
                <td><a href="#">Student Name</a></td>
                <td><div class="checkbox-students"><input type="checkbox" id="21" ><label for="21" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="22" ><label for="22" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="23" ><label for="23" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="24" ><label for="24" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="25" ><label for="25" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="26" ><label for="26" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="27" ><label for="27" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="28" ><label for="28" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="29" ><label for="29" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="210"><label for="210" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="211"><label for="211" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="212"><label for="212" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="213"><label for="213" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="214"><label for="214" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="215"><label for="215" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="216"><label for="216" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="217"><label for="217" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="218"><label for="218" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="219"><label for="219" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="220"><label for="220" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="221"><label for="221" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="222"><label for="222" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="223"><label for="223" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="224"><label for="224" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="225"><label for="225" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="226"><label for="226" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="227"><label for="227" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="228"><label for="228" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="229"><label for="229" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="230"><label for="230" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="231"><label for="231" class="checkbox-students__unit"></label></div></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#">Student Name</a></td>
                <td><div class="checkbox-students"><input type="checkbox" id="31" ><label for="31" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="32" ><label for="32" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="33" ><label for="33" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="34" ><label for="34" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="35" ><label for="35" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="36" ><label for="36" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="37" ><label for="37" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="38" ><label for="38" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="39" ><label for="39" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="310"><label for="310" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="311"><label for="311" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="312"><label for="312" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="313"><label for="313" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="314"><label for="314" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="315"><label for="315" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="316"><label for="316" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="317"><label for="317" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="318"><label for="318" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="319"><label for="319" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="320"><label for="320" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="321"><label for="321" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="322"><label for="322" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="323"><label for="323" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="324"><label for="324" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="325"><label for="325" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="326"><label for="326" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="327"><label for="327" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="328"><label for="328" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="329"><label for="329" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="330"><label for="330" class="checkbox-students__unit"></label></div></td>
                <td><div class="checkbox-students"><input type="checkbox" id="331"><label for="331" class="checkbox-students__unit"></label></div></td>
            </tr>
            {% endcomment %}
        </tbody>
    </table>
    <hr>

{% endblock content %}
