{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" value="Сервис учета студентов учебного заведения">

    <title>Сервис учета студентов</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    <!-- container -->
    <div class="container">

        <!-- Main page content -->
        <div id="content-columns" class="row">
            <div id="content-column" class="col-xs-12">
                <h2>Форма редактирования Студента</h2>
                <form class="form-horizontal col-xs-12 col-sm-5">

                    <div class="form-group">
                        <label for="student-name" class="col-xs-12 col-sm-4 control-label">Имя *</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="student-name" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student-middle-name" class="col-xs-12 col-sm-4 control-label">Отчество</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="student-middle-name" placeholder="Middle Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student-last-name" class="col-xs-12 col-sm-4 control-label">Фамилия *</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="student-last-name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student-ticket" class="col-xs-12 col-sm-4 control-label">№ Билета *</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="student-ticket" placeholder="Ticket Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student-birth-date" class="col-xs-12 col-sm-4 control-label">Дата рождения</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="date" class="form-control" id="student-birth-date" placeholder="Birth Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student-foto" class="col-xs-12 col-sm-4 control-label">Фото</label>
                        <div class="col-xs-12 col-sm-8">
                            <div>Сейчас: <a href="#">some-file.jpg</a></div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Сбросить
                                </label>
                            </div>
                            <div class="form-group__foto-load">Загрузить:<input type="file" id="student-foto"></div>
                        </div>
                    </div>
                    <div class="form-group form-group--flex-vc">
                        <label for="group-select" class="col-xs-12 col-sm-4 control-label">Группа *</label>
                        <div class="col-xs-12 col-sm-8">
                            <select id="group-select" class="select-group">
                                <option value="">МтМ - 21</option>
                                <option value="">МтМ - 22</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group-note" class="col-xs-12 col-sm-4 control-label">Заметки</label>
                        <div class="col-xs-12 col-sm-8">
                            <textarea id="group-note" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-group--controls">
                        <div class="student-edit__btns">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a href="#">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--/ end Main page content -->

    </div><!--/ end container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>