{% extends 'students/base.html' %}
{% load static from staticfiles %}

{% block meta_title %} Студенты {% endblock meta_title %}

{% block title %} База студентов {% endblock title %}

{% block content %}
<a href= "{% url 'students_add' %}" class="btn btn-primary">Добавить студента</a>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><a href="#">№</a></th>
                <th>Фото</th>
                <th><a href="#">Фамилия &uarr;</a></th>
                <th><a href="#">Имя</a></th>
                <th><a href="#">№ билета</a></th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img class="img-circle" height="30" width="30" src="{% static student.image %}" alt="Фото студента"></td>
                    <td><a title="редактировать" href="{% url 'students_edit' student.id %}">{{ student.last_name }}</a></td>
                    <td><a title="редактировать" href="{% url 'students_edit' student.id %}">{{ student.first_name }}</a></td>
                    <td>{{ student.ticket }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Действия
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/journal/{{ student.id }}">Посещения</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'students_edit' student.id %}">Редактировать</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'students_delete' student.id %}">Удалить</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "./includes/pagination.html" %}

</div>
{% endblock content %}
