@charset "UTF-8";
/* custom css file */
/* initial bootstrap override styles */
* {
  outline: none;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

/* main.css styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-header h1 {
  margin: 25px 0;
}

.group-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.group-selector strong {
  margin-right: 10px;
}

.block-notice {
  margin-top: 10px;
}

.date-picker {
  margin-top: 25px;
  margin-bottom: 15px;
}

.table-journals {
  border: 1px solid lightgray;
}
.table-journals thead tr td {
  text-align: center;
  vertical-align: bottom;
}
.table-journals td:not(:last-child) {
  border-right: 1px solid lightgray;
}

.checkbox-students {
  position: relative;
}
.checkbox-students input {
  position: absolute;
  left: -99999px;
}
.checkbox-students .checkbox-students__unit:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid midnightblue;
  position: absolute;
  top: 2px;
  left: 0;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.checkbox-students input:checked + .checkbox-students__unit:before {
  content: "";
  font-family: FontAwesome;
  font-size: 14px;
  color: white;
  background-color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label[for='student-foto'] + div {
  padding-top: 7px;
}
label[for='student-foto'] + div .checkbox {
  padding-bottom: 7px;
}

.form-group__foto-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-group__foto-load input {
  margin-left: 15px;
}

.form-group--controls {
  text-align: center;
  padding: 20px;
  background: lightgray;
}

.form-group--flex-vc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-group--flex-vc .control-label {
  padding-top: 0;
}

.select-group {
  padding: 7px;
  background: transparent;
  width: 100%;
  height: 34px;
}

.student-edit__btns button {
  margin-right: 20px;
}

/*# sourceMappingURL=main.css.map */