<div id="group-selector" class="col-xs-4 group-selector">
    <strong>Група:</strong>
    <select title="group_menu">
        <option value="">Усі Студенти</option>
        <option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
        <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
    </select>
</div>